<div class="row">
    <div class="col-xs-12"></div>
</div>
<div class="row">
      <div class="col-xs-5">
        <img class="img img-responsive" src="Img/{{vm.proizvodi.slika}}" width="250" height="250">
    </div>
    <div class="col-xs-7" >
        <ul class="list-group" >
      <li class="list-group-item list-group-item-success"  ng-repeat="(key, value) in vm.proizvodi" ng-if="key!= 'slika' && key!= 'id' && key!= 'vrsta' && key!= 'akcija'">
          {{key}}: {{value}}</li>
       <li class="list-group-item list-group-item-success">Na Akciji: {{vm.naAkciji()}}</li>     
        </ul>
    </div>
</div>
<div class="form-group">
    <button class="btn btn-md" ng-click="vm.kupi()">Kupi</button>
</div>