<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
        <h1>DOBRODOSLI</h1>
    </div>
    <div class="col-sm-3"></div>
    <form role="form" name="form">
        <div class="col-sm-3" class="form-group">
            User:
            <input type="text" class="form-control" ng-model= "user.user" required>
            <br> Pass:
            <input type="password" class="form-control" ng-model="user.pass" required>
            <br>
            <button type="submit" class="btn btn-sm btn-info"  ng-disabled="form.$invalid" ng-click="vm.login(user)">LogIn</button> {{vm.msgTxt}}
        </div>
    </form>
</div>
<div class="row">
    <br>
</div>
<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-1>">
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.redFmem()">FLash</button>
        </div>
    </div>

</div>